.container {
    background-color: #23185e;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container div {
    background-color: #fff;
    padding: 10px;
    margin: 20px;
    font-family: 35px;
    width:30%;

}

.container div:nth-child(1){
    order: 2;
} 

.container div:nth-child(2){
    order: 3;
} 

.container div:nth-child(3){
    order: 0;
} 

.container div:nth-child(4){
    order: 1;
} 

.container div:nth-child{
    flex-grow: 4;

}

.container2 {
    background-color: #23185e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container2 div {
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    font-size: 20;
    height: 50px;
}

.container2 div:nth-child(1){
    align-self: flex-end;
}

.container3 {
    background-color: #7af529;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container3 div {
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    font-size: 20;
    height: 50px;
}

.container3 div:nth-child(1){
    align-self: flex-end;
}

.container div:nth-child(1){
    height: 20px;
}
.container div:nth-child(2){
    height: 100px;
}
.container div:nth-child(3){
    height: 50p;
}
.container div:nth-child(4)
{
    height: 130px;
}








